certifi==2017.7.27.1
chardet==3.0.4
click==6.7
defusedxml==0.5.0
Flask==0.12.3
Flask-OpenID==1.2.5
idna==2.6
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
numpy==1.13.1
py4j==0.10.4
implicit==0.2.7
python3-openid==3.1.0
requests==2.20.0
urllib3==1.22
Werkzeug==0.12.2
pandas==0.21.0
