<!DOCTYPE html>
<html lang="en">
<head>
    <!--
Hey, nice work on inspecting this web page.
                      _____
                   ,-'     `._
                 ,'           `.        ,-.
               ,'               \       ),.\
     ,.       /                  \     /(  \;
    /'\\     ,o.        ,ooooo.   \  ,'  `-')
    )) )`. d8P"Y8.    ,8P"""""Y8.  `'  .--"'
   (`-'   `Y'  `Y8    dP       `'     /
    `----.(   __ `    ,' ,---.       (
           ),--.`.   (  ;,---.        )
          / \O_,' )   \  \O_,'        |
         ;  `-- ,'       `---'        |
         |    -'         `.           |
        _;    ,            )          :
     _.'|     `.:._   ,.::" `..       |
  --'   |   .'     """         `      |`.
        |  :;      :   :     _.       |`.`.-'--.
        |  ' .     :   :__.,'|/       |  \
        `     \--.__.-'|_|_|-/        /   )
         \     \_   `--^"__,'        ,    |
   -hrr- ;  `    `--^---'          ,'     |
          \  `                    /      /
           \   `    _ _          /
            \           `       /
             \           '    ,'
              `.       ,   _,'
                `-.___.---'


    -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SHRec- Steaming Hot Recommendations</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>
<body class="bg-dark text-white text-center">
    <div class="container">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
    {# if not identified #}
    <h1>Shrec.me</h1>
    <h2 class="text-success">get shreccommended<h2>
    <p>Give us your steam details and we will give you some nice recommendations
        from your backlog!</p>
  <form action="/login">
  <button type="submit" class="btn btn-primary">Login to Steam!</button>
</form>
    {# else #}
    <br><br>
    <ul>
        {% if games %}
        {% for game in games %}
        <div class="card text-white bg-success mb-3" style="width: 45%; float:left; margin: 10px">
            <img class="card-img-top img-thumbnail" src="{{ game[3] }}" alt="Some Video Game Image" width="20">
            <div class="card-body">
                <h4 class="card-title"><a href="steam://rungameid/{{ game[1] }}">{{ game[0] }}</a></h4>
                <p class="card-text">{{ game[2] }}</p>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </ul>
    {# endif #}
</div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</body>
</html>
